<div class="row">
<div class="columns">
<br />
<div id="listmenu">
  <a class="<%= @list_confirmed ? "" : "active" %>" href="/attendees">Vahvistamattomat</a> |
  <a class="<%= @list_confirmed ? "active" : "" %>" href="/attendees?confirmed">Vahvistetut</a>
  <p>Kirjaudu ulos sulkemalla selain (kokonaan).</p>
</div>
<table id="attendee-list">
  <thead>
    <tr>
      <th width="150">Vastaanotettu</th>
      <th width="200">Nimi</th>
      <th width="100">Koulu</th>
      <th>Sähköposti</th>
      <th>Puhelinnumero</th>
      <th width="50">Viite</th>
      <% unless @list_confirmed %><th></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td class="date"><%= attendee.created_at.strftime("%F %T") %></td>
        <td><%= attendee.name %></td>
        <td><%= attendee.school.name if attendee.school %></td>
        <td><%= attendee.email %></td>
        <td><%= attendee.phone %></td>
        <td><%= attendee.reference_number %></td>
        <% unless @list_confirmed %>
          <td>
            <%= button_to "Uusi ilmoviesti", resend_created_mail_attendee_path(attendee), :confirm => "Haluatko varmasti LÄHETTÄÄ UUDEN ILMOVIESTIN", :class => "button tiny secondary", :style => "margin-bottom:5px;padding:5px 8px;" %>
            <%= button_to "Vahvista", confirm_attendee_path(attendee), :confirm => "Haluatko varmasti VAHVISTAA OSALLISTUMISEN", :class => "button tiny", :style => "margin-bottom:5px;" %>
            <% if attendee.late_mails_sent.nil? %>
            <%= button_to "Myöhässä", latemail_attendee_path(attendee), :confirm => "Haluatko varmasti LÄHETTÄÄ MAKSU MYÖHÄSSÄ VIESTIN", :class => "button tiny secondary", :style => "margin-bottom:0px;padding:5px 8px;" %>
            <% end %>
            <% if attendee.late_mails_sent == 1 %>
            <%= button_to "Myöhässä 2", latemail2_attendee_path(attendee), :confirm => "Haluatko varmasti LÄHETTÄÄ MAKSU MYÖHÄSSÄ VIESTIN (viesti 2)", :class => "button tiny secondary", :style => "margin-bottom:0px;padding:5px 8px;" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
