<div class="row">
  <div class="small-12 large-8 large-centered columns">
    <h1>Ilmoittaudu mukaan!</h1>

    <p style="line-height:1.8em">Yleistä lipsumia tapahtumaa liittyen. Phasellus tempor, eros et finibus semper, nibh dolor posuere felis, eget rhoncus nulla tellus in elit. Suspendisse aliquet malesuada enim, a ullamcorper enim placerat non. Donec ullamcorper, arcu nec iaculis maximus, urna ex mollis mauris, ac tristique nisl augue quis libero. Quisque sed lectus rutrum, cursus felis sit amet, tempus augue. Maecenas molestie diam sem, ac sollicitudin mi mollis sed. Nam et ex vitae risus suscipit porttitor vitae eu nulla. Suspendisse aliquam diam sit amet nunc pharetra, a facilisis justo tincidunt.</p>
    <%= simple_form_for(@attendee) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, :label => 'Nimi (etunimi sukunimi)' %>
        <%= f.input :phone, :label => 'Puhelinnumero' %>
        <%= f.input :email, :label => 'Sähköpostiosoite' %>
        <%= f.association :school, :label => 'Koulu' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, :value => "Lähetä ilmoittautuminen" %>
      </div>
    <% end %>

  </div>
</div>
